$btn--primary: var(--background-blue), white, darken(#21b2a6, 10%), #fff;
$btn--secondary: var(--color-text), white, darken(#2e3842, 5%), #fff;

@mixin button($bg, $color, $hover, $icon) {
  background-color: $bg;
  color: $color;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
  fill: $icon;

  &:hover,
  &:focus {
    background: $hover;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn {
  padding: 5px 24px;
  font-size: 1em;

  @include button($btn--primary...);

  &.secondary {
    @include button($btn--secondary...);
  }
}
