// ALL
@media screen and (min-width: 414px) {
  .body {
    .card {
      .flip-card {
        .flip-front {
          .flip-front-text {
            font-size: 2em;
          }
        }
      }
    }
  }
}