// TABLET
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .body {
    .article {
      .article-image {
        width: auto;
      }
    }

    .team {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}