@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
p,
input,
a,
h1,
h2,
h3,
button,
textarea {
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
:root {
  --color-text: #3b4349;
  --background-blue: #21b2a6;
}

.body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-text);
  line-height: 1.5;

  .nav__links {
    display: flex;
    margin-left: 32px;

    .nav__link {
      color: #ffffff;
      margin: 0 8px;

      &:hover:after {
        width: 100%;
      }
    }
  }

  @import "./components/button";

  .header__group__title {
    color: #fff;
    font-size: 4rem;
    display: inline-block;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }

  .bloc {
    background: var(--background-blue);
    color: #c8ece9;
    text-align: center;
    padding: 4em 0;

    .bloc__inner {
      width: 90%;
      margin: 0 auto;
    }

    .bloc__title {
      display: inline-block;
      font-size: 2em;
      line-height: 1.75em;
      font-weight: 800;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      padding: 0 2rem 1rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    &.is-gray {
      background-color: #d3d2cf;
      color: #303841;
  
      .bloc__title {
        border-color: #696967;
      }
    }

    &.is-dark {
      background: #2e3842;
      color: #fff;
      padding: 4em 0 5em;

      .bloc__title {
        color: #fff;
        border-bottom: 1px solid rgba(155, 155, 155, 0.5);
      }
    }
  }

  .header {
    height: 400px;
    position: relative;
    background-image: url("../images/background.jpg");
    background-size: cover;

    .header__banner {
      height: 70px;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header__group {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .btn {
        margin-top: 2em;
        background: var(--color-text);
        padding: 8px 24px;

        &:hover {
          background: darken(#2e3842, 5%);
        }
      }
    }
  }

  .article {
    overflow: hidden;
    background: #2e3842;
    color: #fff;

    &-content {
      width: 100%;
      padding: 2rem 1rem 1.7rem;
      font-weight: 1000;

      .article-title {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .article-image {
      display: block;
      width: 100%;
    }

    .article-content {
      .article-text {
        margin: 1rem 0 1.7rem;
      }
    }

    & + .article {
      background: lighten(#2e3842, 5%);
    }
  }

  .cards {
    max-width: 800px;
    padding: 0 20px;
    margin: calc(1rem + 16px) auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .card {
    height: 200px;

    &:hover {
      cursor: pointer;

      .flip-card {
        transform: rotateY(180deg);
      }
    }

    .flip-card {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;

      .flip-front,
      .flip-back {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d3d2cf;
        border-radius: 6px;
        backface-visibility: hidden;
      }

      .flip-front {
        .flip-front-text {
          font-size: 1.3em;
          text-transform: uppercase;
          color: #3b4349;
          font-weight: bold;
        }
      }

      .flip-back {
        background: #c8ece9;
        color: var(--background-blue);
        padding: 2em;
        transform: rotateY(180deg);

        .flip-back-text {
          font-weight: bold;
        }
      }
    }
  }

  .team {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }

  .worker__title {
    font-size: 1em;
    line-height: 1.75em;
    font-weight: 800;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  .worker__image {
    display: block;
    border-radius: 60px;
    margin: auto;
  }

  .form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;

    .input {
      height: 38px;
    }

    .input,
    .textarea {
      line-height: 38px;
      background: #fff;
      border-radius: 4px;
      margin-top: 0.5rem;
      text-indent: 8px;
      border: 2px solid #fff;
      color: #3b4349;

      &:focus {
        border-color: var(--color-text);
      }
    }

    .textarea {
      height: 150px;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    grid-area: "footer";
    background-color: #1d242a;
    color: #fff;
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
  }
}

@import "index.middle";
@import "index.large.and.wide";
@import "index.large";
@import "index.wide";
