// TABLET & DESKTOP
@media screen and (min-width: 768px) {
  .body {
    .article {
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      &-content {
        display: flex;
        align-items: center;
        width: 60%;
        padding: 0;

        .article-subcontent {
          padding: 2rem 4rem 1.7rem 4rem;
        }
      }

      display: flex;

      &-image-container {
        width: 40%;
        display: flex;
        justify-content: center;
        overflow: hidden;
      }
    }

    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}